@using UserMgr.Entities.View
@model List<View_InboundTask>

@{
    ViewBag.Title = "InboundTask";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>所有项目</h5>
                    <div class="ibox-tools">
                        <a href="/AddEntity/InboundTask" class="btn btn-primary btn-xs">创建入库任务单</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="请输入项目名称" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> 搜索</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="project-list">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="project-status">
                                        <h3>状态</h3>
                                    </th>
                                    <th align="center">
                                        <h3>入库任务单编码</h3>
                                    </th>
                                    <th align="center">
                                        <h3>入库类型</h3>
                                    </th>
                                    <th class="project-status">
                                        <h3>备注</h3>
                                    </th>
                                    <th class="project-status">
                                        <h3>供应商</h3>
                                    </th>
                                    <th class="project-status">
                                        <h3>外部单号</h3>
                                    </th>
                                    <th class="project-status">
                                        <h3>采购单号</h3>
                                    </th>
                                    <th class="project-actions">
                                        <h3>最后修改人</h3>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td class="project-status">
                                            @switch (item.StatusName)
                                            {
                                                case "开始":
                                                    <span class="label label-info">开始</span>
                                                    break;
                                                case "进行中":
                                                    <span class="label label-primary">进行中</span>
                                                    break;
                                                case "异常":
                                                    <span class="label label-danger">异常</span>
                                                    break;
                                                case "结束":
                                                    <span class="label label-warning">结束</span>
                                                    break;
                                                case "完成":
                                                    <span class="label label-success">完成</span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </td>
                                        <td class="project-title">
                                            <a href="project_detail.html">@item.InboundTaskNo</a>
                                            <br />
                                            <small>@("创建于" + item.CreateTime + "  修改于" + item.ChangeTime)</small>
                                        </td>
                                        <td>
                                            <h4>@item.InboundType</h4>
                                        </td>
                                        <td>
                                            <h4>@item.InboundRemark</h4>
                                        </td>
                                        <td>
                                            <h4>@item.SupplierName</h4>
                                        </td>
                                        <td>
                                            <h4>@item.ExterNo</h4>
                                        </td>
                                        <td>
                                            <h4>@item.OrderNo</h4>
                                        </td>
                                        @*<td class="project-completion">
                                            <small>当前进度： 48%</small>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </td>*@
                                        <td class="project-people">
                                            <h4>@item.ChangerName</h4>
                                            @*<a href="projects.html"><img alt="image" class="img-circle" src="~/jsscs/img/a5.jpg"></a>*@
                                        </td>
                                        <td class="project-actions">
                                            <a href=@("/EditEntity/InboundTask?Id=" + item.InboundTaskID) class="btn btn-white btn-sm"><i class="fa fa-edit"></i> 修改 </a>
                                            <a href=@("/AddEntity/InboundTaskDetail?ibtid=" + item.InboundTaskID) class="btn btn-white btn-sm"><i class="fa fa-external-link"></i> 生成入库细节 </a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


