@using UserMgr.Models
@model InventoryAllocationViewModel

@{
    ViewBag.Title = "InventoryAllocation";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4">
            @for (int i = 0; i < Model.InventoryAllocations.Count; i = i + 3)
            {
                var temp = Model.InventoryAllocations[i];
                <div class="ibox">
                    <div class="ibox-title">
                        @if (temp.InventoryAllocation.ChangeTime == null)
                        {
                            <span class="label label-primary pull-right">@temp.InventoryAllocation.CreateTime</span>
                        }
                        else
                        {
                            <span class="label label-warning pull-right">@temp.InventoryAllocation.ChangeTime</span>
                        }
                        <h5>@(temp.InventoryLocation.InventoryLocationName + "(" + temp.InventoryLocation.InventoryLocationNo + ")" + " - " + temp.MaterialType.MaterialTypeName + "(" + temp.MaterialType.MaterialTypeNo + ")")</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href=@("#tab-1-" + i) aria-expanded="true">库位信息</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href=@("#tab-2-" + i) aria-expanded="false">物资种类</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id=@("tab-1-" + i) class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>库位类型</strong>
                                                <p>@temp.InventoryLocation.InventoryLocationType</p>
                                                <strong>所属库区</strong>
                                                <p>@temp.InventoryLocation.InventoryArea</p>
                                                <strong>长(mm) * 宽(mm) * 高(mm)</strong>
                                                <p>@temp.InventoryLocation.LWH</p>
                                                <strong>排 - 列 - 层</strong>
                                                <p>@temp.InventoryLocation.InventoryArea</p>
                                                <strong>库位分组</strong>
                                                <p>@temp.InventoryLocation.InventoryLocationGroupName</p>
                                                <strong>库位巷道</strong>
                                                <p>@temp.InventoryLocation.NarrowName</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <strong>入门距离 - 出口距离</strong>
                                                <p>@temp.InventoryLocation.EnterExitDistance</p>
                                                <strong>前后</strong>
                                                <p>@temp.InventoryLocation.FrontAndBack</p>
                                                <strong>容器</strong>
                                                <p>@temp.InventoryLocation.ContainerName</p>
                                                <strong>创建人&时间</strong>
                                                <p>@(temp.InventoryLocation.CreaterName + "  " + temp.InventoryLocation.CreateTime)</p>
                                                @if (temp.InventoryLocation.ChangerName != null)
                                                {
                                                    <strong>修改人&时间</strong>
                                                    <p>@(temp.InventoryLocation.ChangerName + "  " + temp.InventoryLocation.ChangeTime)</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id=@("tab-2-" + i) class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @if (temp.MaterialType.MaterialTypeRoot != null)
                                                {
                                                    <strong>物资种类父类</strong>
                                                    <p>@temp.MaterialType.MaterialTypeRoot</p>
                                                }
                                                <strong>物资种类供应商</strong>
                                                <p>@temp.MaterialType.Supplier</p>
                                                <strong>物资种类价格</strong>
                                                <p>@temp.MaterialType.MaterialTypePrice</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <strong>创建人&时间</strong>
                                                <p>@(temp.MaterialType.CreaterName + "  " + temp.MaterialType.CreateTime)</p>
                                                @if (temp.MaterialType.ChangerName != null)
                                                {
                                                    <strong>修改人&时间</strong>
                                                    <p>@(temp.MaterialType.ChangerName + "  " + temp.MaterialType.ChangeTime)</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-4">
            @for (int i = 1; i < Model.InventoryAllocations.Count; i = i + 3)
            {
                var temp = Model.InventoryAllocations[i];
                <div class="ibox">
                    <div class="ibox-title">
                        @if (temp.InventoryAllocation.ChangeTime == null)
                        {
                            <span class="label label-primary pull-right">@temp.InventoryAllocation.CreateTime</span>
                        }
                        else
                        {
                            <span class="label label-warning pull-right">@temp.InventoryAllocation.ChangeTime</span>
                        }
                        <h5>@(temp.InventoryLocation.InventoryLocationName + "(" + temp.InventoryLocation.InventoryLocationNo + ")" + " - " + temp.MaterialType.MaterialTypeName + "(" + temp.MaterialType.MaterialTypeNo + ")")</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href=@("#tab-1-" + i) aria-expanded="true">库位信息</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href=@("#tab-2-" + i) aria-expanded="false">物资种类</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id=@("tab-1-" + i) class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>库位类型</strong>
                                                <p>@temp.InventoryLocation.InventoryLocationType</p>
                                                <strong>所属库区</strong>
                                                <p>@temp.InventoryLocation.InventoryArea</p>
                                                <strong>长(mm) * 宽(mm) * 高(mm)</strong>
                                                <p>@temp.InventoryLocation.LWH</p>
                                                <strong>排 - 列 - 层</strong>
                                                <p>@temp.InventoryLocation.InventoryArea</p>
                                                <strong>库位分组</strong>
                                                <p>@temp.InventoryLocation.InventoryLocationGroupName</p>
                                                <strong>库位巷道</strong>
                                                <p>@temp.InventoryLocation.NarrowName</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <strong>入门距离 - 出口距离</strong>
                                                <p>@temp.InventoryLocation.EnterExitDistance</p>
                                                <strong>前后</strong>
                                                <p>@temp.InventoryLocation.FrontAndBack</p>
                                                <strong>容器</strong>
                                                <p>@temp.InventoryLocation.ContainerName</p>
                                                <strong>创建人&时间</strong>
                                                <p>@(temp.InventoryLocation.CreaterName + "  " + temp.InventoryLocation.CreateTime)</p>
                                                @if (temp.InventoryLocation.ChangerName != null)
                                                {
                                                    <strong>修改人&时间</strong>
                                                    <p>@(temp.InventoryLocation.ChangerName + "  " + temp.InventoryLocation.ChangeTime)</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id=@("tab-2-" + i) class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @if (temp.MaterialType.MaterialTypeRoot != null)
                                                {
                                                    <strong>物资种类父类</strong>
                                                    <p>@temp.MaterialType.MaterialTypeRoot</p>
                                                }
                                                <strong>物资种类供应商</strong>
                                                <p>@temp.MaterialType.Supplier</p>
                                                <strong>物资种类价格</strong>
                                                <p>@temp.MaterialType.MaterialTypePrice</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <strong>创建人&时间</strong>
                                                <p>@(temp.MaterialType.CreaterName + "  " + temp.MaterialType.CreateTime)</p>
                                                @if (temp.MaterialType.ChangerName != null)
                                                {
                                                    <strong>修改人&时间</strong>
                                                    <p>@(temp.MaterialType.ChangerName + "  " + temp.MaterialType.ChangeTime)</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-4">
            @for (int i = 2; i < Model.InventoryAllocations.Count; i = i + 3)
            {
                var temp = Model.InventoryAllocations[i];
                <div class="ibox">
                    <div class="ibox-title">
                        @if (temp.InventoryAllocation.ChangeTime == null)
                        {
                            <span class="label label-primary pull-right">@temp.InventoryAllocation.CreateTime</span>
                        }
                        else
                        {
                            <span class="label label-warning pull-right">@temp.InventoryAllocation.ChangeTime</span>
                        }
                        <h5>@(temp.InventoryLocation.InventoryLocationName + "(" + temp.InventoryLocation.InventoryLocationNo + ")" + " - " + temp.MaterialType.MaterialTypeName + "(" + temp.MaterialType.MaterialTypeNo + ")")</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href=@("#tab-1-" + i) aria-expanded="true">库位信息</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href=@("#tab-2-" + i) aria-expanded="false">物资种类</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id=@("tab-1-" + i) class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>库位类型</strong>
                                                <p>@temp.InventoryLocation.InventoryLocationType</p>
                                                <strong>所属库区</strong>
                                                <p>@temp.InventoryLocation.InventoryArea</p>
                                                <strong>长(mm) * 宽(mm) * 高(mm)</strong>
                                                <p>@temp.InventoryLocation.LWH</p>
                                                <strong>排 - 列 - 层</strong>
                                                <p>@temp.InventoryLocation.InventoryArea</p>
                                                <strong>库位分组</strong>
                                                <p>@temp.InventoryLocation.InventoryLocationGroupName</p>
                                                <strong>库位巷道</strong>
                                                <p>@temp.InventoryLocation.NarrowName</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <strong>入门距离 - 出口距离</strong>
                                                <p>@temp.InventoryLocation.EnterExitDistance</p>
                                                <strong>前后</strong>
                                                <p>@temp.InventoryLocation.FrontAndBack</p>
                                                <strong>容器</strong>
                                                <p>@temp.InventoryLocation.ContainerName</p>
                                                <strong>创建人&时间</strong>
                                                <p>@(temp.InventoryLocation.CreaterName + "  " + temp.InventoryLocation.CreateTime)</p>
                                                @if (temp.InventoryLocation.ChangerName != null)
                                                {
                                                    <strong>修改人&时间</strong>
                                                    <p>@(temp.InventoryLocation.ChangerName + "  " + temp.InventoryLocation.ChangeTime)</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id=@("tab-2-" + i) class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @if (temp.MaterialType.MaterialTypeRoot != null)
                                                {
                                                    <strong>物资种类父类</strong>
                                                    <p>@temp.MaterialType.MaterialTypeRoot</p>
                                                }
                                                <strong>物资种类供应商</strong>
                                                <p>@temp.MaterialType.Supplier</p>
                                                <strong>物资种类价格</strong>
                                                <p>@temp.MaterialType.MaterialTypePrice</p>
                                            </div>
                                            <div class="col-lg-6">
                                                <strong>创建人&时间</strong>
                                                <p>@(temp.MaterialType.CreaterName + "  " + temp.MaterialType.CreateTime)</p>
                                                @if (temp.MaterialType.ChangerName != null)
                                                {
                                                    <strong>修改人&时间</strong>
                                                    <p>@(temp.MaterialType.ChangerName + "  " + temp.MaterialType.ChangeTime)</p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

