@using UserMgr.Areas.Member.Models
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Member/Views/Shared/_LayoutMember.cshtml";
}

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">H+</h1>

        </div>
        <h3>欢迎注册 H+</h3>
        <p>创建一个H+新账户</p>
        @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "m-t" }))
        {
            <div class="form-group">
                @Html.TextBoxFor(u => u.RegisterUserName, new { @class = "form-control", placeholder = "用户名" })
                @Html.ValidationMessage("RegisterUserName", new { @class = "text-danger pull-right" })

            </div>
            <div class="form-group">
                @Html.TextBoxFor(u => u.RegisterEmail, new { @class = "form-control", placeholder = "电子邮箱" })
                @Html.ValidationMessage("RegisterEmail", new { @class = "text-danger pull-right" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(u => u.RegisterUserPW, new { @class = "form-control", placeholder = "密码" })
                @Html.ValidationMessage("RegisterUserPW", new { @class = "text-danger pull-right" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(u => u.ConfirmRegisterUserPW, new { @class = "form-control", placeholder = "确认密码" })
                @Html.ValidationMessage("ConfirmRegisterUserPW", new { @class = "text-danger pull-right" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(u => u.RegisterDesc, new { @class = "form-control", placeholder = "注册说明，方便审核通过" })
                @Html.ValidationMessage("RegisterDesc", new { @class = "text-danger pull-right" })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">注 册</button>
            <p class="text-muted text-center">
                <small>已经有账户了？</small><a href="/Member/User/Login">点此登录</a>
            </p>
        }

    </div>
</div>


