@using UserMgr.Models
@model InventoryAreaViewModel

@{
    ViewBag.Title = "InventoryArea";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>修改库区</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("InventoryArea", "EditEntity", FormMethod.Post, new { @class = "form-horizontal m-t" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">库存名称：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(ia => ia.InventoryAreaName, new { @class = "form-control" })
                                @Html.ValidationMessage("InventoryAreaName", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">库存编号：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(ia => ia.InventoryAreaNo, new { @class = "form-control" })
                                @Html.ValidationMessage("InventoryAreaNo", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">库存类型：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(ia => ia.InventoryAreaType, new { @class = "form-control" })
                                @Html.ValidationMessage("InventoryAreaType", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属仓库：</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(ia => ia.WarehouseID, ViewData["Warehouse"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "font-size:13px" })
                                @Html.ValidationMessage("WarehouseID", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(ia => ia.Remark, new { @class = "form-control" })
                                @Html.ValidationMessage("Remark", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">其他信息：</label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(ia => ia.OtherInfo, new { @class = "form-control" })
                                @Html.ValidationMessage("OtherInfo", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建人：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(ia => ia.Creater, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建时间：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(ia => ia.CreateTime, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数据版本：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(ia => ia.DataVersion, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-3">
                                @Html.CheckBoxFor(ia => ia.Enable)
                                <label>是否启用</label>
                            </div>
                        </div>
                        @Html.HiddenFor(ia => ia.InventoryAreaID)
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">添加</button>
                            </div>
                            @Html.ValidationMessage("Msg", new { @class = "text-danger" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>


