@using UserMgr.Models
@model TrayViewModel

@{
    ViewBag.Title = "Tray";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@($"修改托盘 - {Model.TrayNo}")</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Tray", "EditEntity", FormMethod.Post, new { @class = "form-horizontal m-t" }))
                    {
                        <div class="form-group">
                            <label class="col-md-3 control-label">托盘类型：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(t => t.TrayType, new { @class = "form-control" })
                                @Html.ValidationMessage("TrayType", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">托盘编号：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(t => t.TrayNo, new { @class = "form-control" })
                                @Html.ValidationMessage("TrayNo", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">托盘条码：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(t => t.TrayCode, new { @class = "form-control" })
                                @Html.ValidationMessage("TrayCode", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">重量：</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.Weight, new { @class = "form-control", type = "Number" })
                                @Html.ValidationMessage("Weight", new { @class = "text-danger pull-right" })
                            </div>
                            <label class="col-sm-2 control-label">高度：</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.Height, new { @class = "form-control", type = "Number" })
                                @Html.ValidationMessage("Height", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">容器：</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(t => t.Container, ViewData["Container"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "font-size:13px" })
                                @Html.ValidationMessage("Container", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(t => t.Remark, new { @class = "form-control" })
                                @Html.ValidationMessage("Remark", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">入库时间：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(t => t.InboundTime, new { @class = "form-control", @readonly = "" })
                                @*@Html.TextBoxFor(t => t.InboundTime, new { @class = "form-control", @type = "date" })*@
                            </div>
                        </div>
                        @Html.HiddenFor(t => t.TrayID)
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">修改</button>
                            </div>
                            @Html.ValidationMessage("Msg", new { @class = "text-danger" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


