@using UserMgr.Models
@model UserGroupViewModel

@{
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑用户组</h5>
                    </div>
                    <div class="ibox-content">
                        @using (Html.BeginForm("UserGroup", "EditEntity", FormMethod.Post, new { @class = "form-horizontal m-t" }))
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户组名：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(ug => ug.UserGroupName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户组编码：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(ug => ug.UserGroupCode, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户组权限：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(ug => ug.UserGroupClass, new { @class = "form-control" })
                                    @Html.ValidationMessage("UserDesc", new { @class = "text-danger pull-right" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户组描述：</label>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(ug => ug.UserGroupDesc, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </div>
                            @Html.HiddenFor(ug => ug.UserGroupID);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
