@using UserMgr.Models
@model UserGroupViewModel

@{
    ViewBag.Title = "UserGroup";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加用户组</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("UserGroup", "AddEntity", FormMethod.Post, new { @class = "form-horizontal m-t" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户组名称：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(up => up.UserGroupName, new { @class = "form-control" })
                                @Html.ValidationMessage("UserGroupName", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户组编号：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(up => up.UserGroupNo, new { @class = "form-control", onKeyUp = @"value=value.replace(/[\W]/g,'')" })
                                @Html.ValidationMessage("UserGroupNo", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">访问权限：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(up => up.UserGroupClass, new { @class = "form-control", type = "Number" })
                                @Html.ValidationMessage("UserGroupClass", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户组描述：</label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(up => up.UserGroupDesc, new { @class = "form-control" })
                                @Html.ValidationMessage("UserGroupDesc", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>


