@using UserMgr.Models
@model WavePickingViewModel

@{
    ViewBag.Title = "WavePicking";
    Layout = "~/Views/Layout/_LayoutIndex.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加波次</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("WavePicking", "AddEntity", FormMethod.Post, new { @class = "form-horizontal m-wp" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-sm-3 control-label">波次编码：</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(wp => wp.WavePickingNo, new { @class = "form-control" })
                                @Html.ValidationMessage("WavePickingNo", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">波次类型：</label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(wp => wp.WavePickingTypeID, ViewData["WavePickingTypeDDL"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "font-size:13px" })
                                @Html.ValidationMessage("WavePickingTypeID", new { @class = "text-danger pull-right" })
                            </div>
                            <label class="col-sm-2 control-label">拣货类型：</label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(wp => wp.PickingType, ViewData["PickingTypeDDL"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "font-size:13px" })
                                @Html.ValidationMessage("PickingType", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注说明：</label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(wp => wp.Remark, new { @class = "form-control" })
                                @Html.ValidationMessage("Remark", new { @class = "text-danger pull-right" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">添加</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


